*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Slider{
  display: flex;
  justify-content: center
}
@media only screen and (max-width:700px){
  .myWrapper{
    height: 70vh;
  }
}

.myWrapper{
  display: flexs ;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  }
/* title center */
.titcen{
  color: #150f0f;
  align-items: center;
}
.title{
 
    color: #150f0f;
}

/* .card {
    overflow: hidden;
    box-shadow: 0 2px 20px $clr-gray300;
    border-radius: $radius;
    display: flexs ;
    flex-direction: column;
    justify-content: space-between ;
    cursor: pointer ;
    transition: transform 200ms ease-in;
  } */